<!DOCTYPE html>
<html>
  <head>
    <title>WebpackerThemesApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_pack_tag "#{cookies[:theme]}", media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'layouts/navbar' %>
    <%= yield %>
  </body>
</html>
